body {
  background-color: #37312d;
  font-family: 'helvetica-light';
  overflow-x: hidden;
  /* 12-grid system */ }
  body nav {
    align-items: center;
    display: flex;
    height: 80px;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    z-index: 1; }
    body nav:before {
      background: linear-gradient(to bottom, rgba(4, 2, 2, 0.85) 0%, rgba(4, 2, 2, 0) 100%);
      content: '';
      height: 150px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1; }
    body nav .logo {
      display: flex; }
      body nav .logo .icon {
        height: 23px;
        position: relative;
        width: 23px; }
        body nav .logo .icon .bar {
          background-color: #fff;
          bottom: 0;
          height: 2px;
          position: absolute;
          right: 0;
          transform-origin: 100% 100%;
          width: 100%; }
          body nav .logo .icon .bar:nth-of-type(1) {
            opacity: 0.4; }
          body nav .logo .icon .bar:nth-of-type(2) {
            opacity: 0.6;
            transform: rotate(30deg); }
          body nav .logo .icon .bar:nth-of-type(3) {
            opacity: 0.8;
            transform: rotate(60deg); }
          body nav .logo .icon .bar:nth-of-type(4) {
            opacity: 0.9;
            transform: rotate(90deg); }
      body nav .logo .text {
        overflow: hidden;
        width: 138px; }
      body nav .logo img {
        height: 23px;
        padding-left: 6px; }
      body nav .logo.animate {
        /* only animate when animate class is applies */ }
        body nav .logo.animate .bar:nth-of-type(1) {
          animation: 1s ease-in anim-bar-1; }
        body nav .logo.animate .bar:nth-of-type(2) {
          animation: 1s ease-in anim-bar-2; }
        body nav .logo.animate .bar:nth-of-type(3) {
          animation: 1s ease-in anim-bar-3; }
        body nav .logo.animate .bar:nth-of-type(4) {
          animation: 1s ease-in anim-bar-4; }
        body nav .logo.animate .text {
          animation: 2s ease-out anim-text; }

@keyframes anim-bar-1 {
  0% {
    opacity: 0; }
  35% {
    opacity: 0.4; } }

@keyframes anim-bar-2 {
  0% {
    opacity: 0; }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.6; } }

@keyframes anim-bar-3 {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  85% {
    opacity: 0.8; } }

@keyframes anim-bar-4 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes anim-text {
  0% {
    width: 0; }
  45% {
    width: 0; }
  100% {
    width: 138px; } }
    body nav #toggle-menu {
      display: none;
      /* default hidden */
      opacity: 0.8;
      position: absolute;
      right: 24px;
      top: 32px;
      width: 30px; }
      body nav #toggle-menu[aria-expanded="true"]:before {
        background-color: rgba(0, 0, 0, 0.75);
        bottom: 0;
        content: '';
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1; }
    body nav ul {
      color: #fff;
      display: flex;
      list-style: none;
      margin: 0 0 0 auto;
      padding: 0; }
      body nav ul li {
        border-right: 1px solid #fff;
        padding: 0 16px; }
        body nav ul li:last-of-type {
          border: none; }
        body nav ul li a {
          color: inherit;
          font-size: 15px;
          text-decoration: none; }
  body header.home {
    position: relative;
    z-index: 0; }
    body header.home .owl-carousel.home .owl-item div {
      background-size: cover;
      background-position: center;
      color: transparent;
      height: calc(100vh - 180px);
      min-height: 360px; }
      body header.home .owl-carousel.home .owl-item div.slide-1 {
        background-image: url("../img/slides/home-1.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-1-2 {
        background-image: url("../img/slides/home-1-2.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-1-3 {
        background-image: url("../img/slides/home-1-3.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-2 {
        background-image: url("../img/slides/home-2.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-3 {
        background-image: url("../img/slides/home-3.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-4 {
        background-image: url("../img/slides/home-4.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-5 {
        background-image: url("../img/slides/home-5.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-6 {
        background-image: url("../img/slides/home-6.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-7 {
        background-image: url("../img/slides/home-7.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-7-2 {
        background-image: url("../img/slides/home-7-2.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-8 {
        background-image: url("../img/slides/home-8.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-9 {
        background-image: url("../img/slides/home-9.jpg"); }
      body header.home .owl-carousel.home .owl-item div.slide-10 {
        background-image: url("../img/slides/home-10.jpg"); }
    body header.home h2 {
      color: #37312d;
      font-size: 2vw;
      left: 20%;
      max-width: 15%;
      position: absolute;
      top: 20%;
      z-index: 1; }
  body header.solution .owl-carousel .owl-item > div {
    background-size: cover;
    background-position: center;
    color: #fff;
    height: calc(100vh);
    min-height: 640px;
    /* new assets*/ }
    body header.solution .owl-carousel .owl-item > div.slide-1 {
      background-image: url("../img/slides/home-1.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-1-2 {
      background-image: url("../img/slides/home-1-2.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-1-2 .caption {
        left: 60%;
        top: 25%; }
    body header.solution .owl-carousel .owl-item > div.slide-1-3 {
      background-image: url("../img/slides/home-1-3.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-1-3 .caption {
        left: 40%;
        top: 50%; }
    body header.solution .owl-carousel .owl-item > div.slide-2 {
      background-image: url("../img/slides/home-2.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-3 {
      background-image: url("../img/slides/home-3.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-4 {
      background-image: url("../img/slides/home-4.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-5 {
      background-image: url("../img/slides/home-5.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-6 {
      background-image: url("../img/slides/home-6.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-6 .caption {
        left: 45%;
        top: 25%; }
    body header.solution .owl-carousel .owl-item > div.slide-7 {
      background-image: url("../img/slides/home-7.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-7-2 {
      background-image: url("../img/slides/home-7-2.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-7-2 .caption {
        left: 45%;
        top: 20%; }
    body header.solution .owl-carousel .owl-item > div.slide-8 {
      background-image: url("../img/slides/home-8.jpg"); }
    body header.solution .owl-carousel .owl-item > div.slide-9 {
      background-image: url("../img/slides/home-9.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-9 .caption {
        left: 20%;
        top: 20%; }
    body header.solution .owl-carousel .owl-item > div.slide-10 {
      background-image: url("../img/slides/home-10.jpg"); }
      body header.solution .owl-carousel .owl-item > div.slide-10 .caption {
        left: 50%;
        top: 40%; }
    body header.solution .owl-carousel .owl-item > div .caption {
      background-color: rgba(55, 49, 45, 0.8);
      box-sizing: border-box;
      font-size: 32px;
      padding: 48px;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      margin-left: -180px;
      width: 360px; }
      body header.solution .owl-carousel .owl-item > div .caption.arrow:after {
        content: '';
        width: 0;
        height: 0;
        border-color: transparent transparent transparent rgba(55, 49, 45, 0.8);
        border-style: solid;
        border-width: 25px 0 25px 25px;
        position: absolute;
        right: -25px;
        bottom: 25px; }
  body header.solution .owl-carousel .owl-nav {
    position: absolute;
    bottom: calc(60% - 36px);
    width: calc(100%);
    left: 0; }
    body header.solution .owl-carousel .owl-nav button {
      color: transparent;
      height: 48px;
      opacity: 0.8;
      position: absolute;
      width: 16px; }
      body header.solution .owl-carousel .owl-nav button.owl-prev {
        left: 5%;
        background-image: url("../img/left-arrow.svg"); }
      body header.solution .owl-carousel .owl-nav button.owl-next {
        right: 5%;
        background-image: url("../img/right-arrow.svg"); }
  body article.home {
    color: #ffffff;
    text-align: center;
    margin-top: -128px;
    overflow: hidden; }
    body article.home .owl-carousel.color-palette {
      margin: auto;
      max-width: 960px; }
      body article.home .owl-carousel.color-palette .headline {
        padding: 12px 0;
        position: relative;
        z-index: 1;
        width: 100%; }
        body article.home .owl-carousel.color-palette .headline p {
          font-size: 18px;
          margin: 0; }
        body article.home .owl-carousel.color-palette .headline em {
          font-size: 12px; }
      body article.home .owl-carousel.color-palette .items {
        display: flex;
        text-decoration: none;
        color: inherit; }
        body article.home .owl-carousel.color-palette .items .item {
          padding: 2%;
          width: 20%; }
          body article.home .owl-carousel.color-palette .items .item .tile {
            align-items: center;
            border-radius: 7px;
            box-shadow: 0 0 8px #1d1a18;
            display: flex;
            height: 162px;
            justify-content: center;
            margin: auto;
            width: 100%; }
            body article.home .owl-carousel.color-palette .items .item .tile .name {
              font-size: 16px; }
          body article.home .owl-carousel.color-palette .items .item .category {
            display: block;
            font-size: 12px;
            padding: 16px 0;
            text-transform: uppercase; }
      body article.home .owl-carousel.color-palette .owl-nav {
        position: absolute;
        bottom: calc(60% - 36px);
        width: calc(120%);
        left: -10%; }
        body article.home .owl-carousel.color-palette .owl-nav button {
          color: transparent;
          height: 48px;
          opacity: 0.8;
          position: absolute;
          width: 16px; }
          body article.home .owl-carousel.color-palette .owl-nav button.owl-prev {
            left: 12px;
            background-image: url("../img/left-arrow.svg"); }
          body article.home .owl-carousel.color-palette .owl-nav button.owl-next {
            right: 12px;
            background-image: url("../img/right-arrow.svg"); }
    body article.home .cta {
      padding: 20px 0 80px; }
  body article.create {
    color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 96px 0; }
    body article.create h1 {
      font-size: 44px;
      font-weight: normal;
      margin: 0;
      padding: 0 0 16px; }
    body article.create .email {
      padding: 36px 0;
      text-align: center; }
  body article.schemes {
    color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    padding: 96px 0; }
    body article.schemes h1 {
      padding: 12px 0 0;
      margin: 0; }
    body article.schemes p {
      padding: 0 0 24px;
      margin: 0; }
    body article.schemes .row [class*="col-"] {
      padding: 0 24px; }
    body article.schemes .cta {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 14px;
      padding: 6px 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      bottom: 0;
      left: 0;
      right: 0; }
      body article.schemes .cta a {
        color: inherit;
        display: inline-block;
        text-decoration: none;
        padding: 12px 12px 12px 36px;
        position: relative; }
        body article.schemes .cta a:before {
          background-size: contain;
          content: '';
          display: inline-block;
          height: 30px;
          width: 30px;
          position: absolute;
          left: 4px;
          top: 4px; }
        body article.schemes .cta a.view:before {
          background-image: url("../img/view-icon.png"); }
        body article.schemes .cta a.customize:before {
          background-image: url("../img/color-icon.png"); }
    body article.schemes .last-item div {
      align-items: center;
      background-color: #433d39;
      background-image: url(../img/solution-contact.jpg);
      background-size: cover;
      background-position: 0 0;
      display: flex;
      height: calc(100% - 48px);
      justify-content: center;
      min-height: 112px; }
      body article.schemes .last-item div .btn {
        background-color: rgba(255, 255, 255, 0.3);
        color: #37312d; }
    body article.schemes h1 {
      font-size: 44px;
      font-weight: normal;
      margin: 0; }
  body article.solution {
    color: #ffffff;
    padding: 128px 0 48px;
    text-align: center; }
    body article.solution h1 {
      font-weight: normal;
      font-size: 44px;
      margin: 0;
      padding: 24px 12px 0; }
    body article.solution p {
      font-size: 15px;
      line-height: 25px;
      max-width: 600px;
      margin: auto;
      padding: 0px 12px 24px; }
    body article.solution.storage {
      display: flex;
      flex-wrap: wrap;
      padding: 5px 0 0; }
      body article.solution.storage > * {
        background-position: 20% 20%;
        background-size: cover;
        height: 80vh;
        min-height: 420px; }
      body article.solution.storage .left-image {
        background-image: url("../img/slides/solution-storage-1.jpg");
        width: 20%; }
      body article.solution.storage .text {
        display: flex;
        align-items: center;
        width: 30%; }
        body article.solution.storage .text div {
          max-width: 360px;
          margin: auto; }
          body article.solution.storage .text div h1 {
            padding-bottom: 24px; }
      body article.solution.storage .right-image {
        width: 50%; }
        body article.solution.storage .right-image .owl-carousel {
          height: inherit;
          min-height: 420px; }
          body article.solution.storage .right-image .owl-carousel * {
            height: inherit;
            min-height: inherit; }
          body article.solution.storage .right-image .owl-carousel .owl-item [class*="slide-"] {
            background-size: cover;
            background-position: center; }
          body article.solution.storage .right-image .owl-carousel .owl-item .slide-1 {
            background-image: url("../img/slides/solution-storage-2.jpg"); }
          body article.solution.storage .right-image .owl-carousel .owl-item .slide-2 {
            background-image: url("../img/slides/solution-storage-2b.jpg"); }
          body article.solution.storage .right-image .owl-carousel .owl-item .slide-3 {
            background-image: url("../img/slides/solution-storage-2c.jpg"); }
    body article.solution.configurations {
      background-color: #423d39;
      padding: 80px 12px; }
      body article.solution.configurations h1 {
        padding-bottom: 12px; }
      body article.solution.configurations .graphics {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; }
        body article.solution.configurations .graphics img {
          margin: 24px 5%;
          max-width: 100%; }
    body article.solution.customize {
      display: flex;
      flex-wrap: wrap;
      padding: 0; }
      body article.solution.customize .patterns {
        display: flex;
        flex-wrap: wrap;
        width: 50%; }
        body article.solution.customize .patterns .owl-carousel {
          width: 33.3333%; }
          body article.solution.customize .patterns .owl-carousel .texture {
            width: 100%;
            padding-bottom: 100%; }
      body article.solution.customize .text {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 5%;
        box-sizing: border-box;
        width: 50%; }
        body article.solution.customize .text h1 {
          max-width: 400px;
          margin: auto;
          padding-top: 0; }
        body article.solution.customize .text p {
          max-width: 320px;
          margin: auto; }
    body article.solution.contact {
      background-image: url("../img/solution-contact.jpg");
      background-size: cover;
      background-position: center;
      -webkit-filter: grayscale(50%);
      margin-bottom: 48px;
      padding: 96px 12px;
      position: relative; }
      body article.solution.contact:before {
        content: '';
        background-color: rgba(55, 49, 45, 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
      body article.solution.contact > * {
        position: relative;
        z-index: 1; }
      body article.solution.contact h1 {
        padding-bottom: 12px; }
      body article.solution.contact .btn {
        color: #37312d;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 18px 48px;
        margin: 12px; }
  body article.contact {
    color: #ffffff;
    padding: 128px 12px;
    text-align: center; }
    body article.contact h1 {
      font-weight: normal;
      font-size: 44px;
      margin: 0;
      padding: 24px 12px 0; }
    body article.contact p {
      font-size: 15px;
      line-height: 25px;
      max-width: 600px;
      margin: auto;
      padding: 0px 12px 24px; }
  body aside {
    font-family: 'Roboto Condensed', sans-serif; }
    body aside.controls {
      display: none;
      /* default hidden */ }
      body aside.controls .label {
        background-color: #433d39;
        box-sizing: border-box;
        color: #fff;
        font-family: 'helvetica-light';
        font-size: 18px;
        padding: 18px 24px;
        line-height: 30px;
        padding: 20px 0 0px;
        text-align: center;
        width: 100%; }
        body aside.controls .label .icon {
          background-image: url("../img/color-icon.png");
          display: inline-block;
          height: 30px;
          vertical-align: top;
          width: 30px; }
      body aside.controls .categories a {
        background-color: #433d39;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 36px solid transparent;
        border-top: 12px solid transparent;
        color: #fff;
        display: block;
        font-weight: 300;
        margin-bottom: 4px;
        padding-bottom: 20%;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%; }
        body aside.controls .categories a#panel-a-option {
          background-image: url("../img/graphic-panel-a.png"); }
          body aside.controls .categories a#panel-a-option:before {
            content: 'panel a options'; }
        body aside.controls .categories a#panel-b-option {
          background-image: url("../img/graphic-panel-b.png"); }
          body aside.controls .categories a#panel-b-option:before {
            content: 'panel b options'; }
        body aside.controls .categories a#couch-option {
          background-image: url("../img/graphic-couch.png"); }
          body aside.controls .categories a#couch-option:before {
            content: 'couch options'; }
        body aside.controls .categories a#cabinet-option {
          background-image: url("../img/graphic-cabinet.png"); }
          body aside.controls .categories a#cabinet-option:before {
            content: 'cabinet options'; }
        body aside.controls .categories a#headboard-option {
          background-image: url("../img/graphic-headboard.png"); }
          body aside.controls .categories a#headboard-option:before {
            content: 'headboard options'; }
        body aside.controls .categories a:before {
          content: 'test';
          position: absolute;
          bottom: -28px;
          left: 0;
          right: 0; }
        body aside.controls .categories a:hover {
          background-color: #37312d; }
      body aside.controls .carousels {
        background-color: #433d39;
        margin-bottom: 4px; }
        body aside.controls .carousels .owl-carousel {
          display: none;
          /* hidden by default */ }
          body aside.controls .carousels .owl-carousel .item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 5% 10%; }
            body aside.controls .carousels .owl-carousel .item .thumb {
              padding: 4%;
              color: inherit;
              text-decoration: none; }
              body aside.controls .carousels .owl-carousel .item .thumb[data-selected="true"] .image:before,
              body aside.controls .carousels .owl-carousel .item .thumb .image:hover:before {
                content: '';
                display: block;
                background-image: url("../img/selected.png");
                position: absolute;
                width: 34px;
                height: 34px;
                top: calc(50% - 17px);
                left: calc(50% - 17px); }
              body aside.controls .carousels .owl-carousel .item .thumb .image {
                padding-bottom: 90%;
                position: relative; }
              body aside.controls .carousels .owl-carousel .item .thumb .text {
                text-align: center;
                padding: 8px 0 0;
                font-weight: 300; }
          body aside.controls .carousels .owl-carousel .owl-nav {
            position: absolute;
            top: calc(50% - 25px);
            width: 90%;
            left: 5%;
            right: 5%; }
            body aside.controls .carousels .owl-carousel .owl-nav button {
              width: 24px;
              height: 24px;
              color: transparent;
              border: 1px solid #fff;
              transform: rotate(45deg);
              position: absolute;
              outline: none; }
              body aside.controls .carousels .owl-carousel .owl-nav button.owl-prev {
                border-top: none;
                border-right: none; }
              body aside.controls .carousels .owl-carousel .owl-nav button.owl-next {
                border-left: none;
                border-bottom: none;
                right: 0; }
              body aside.controls .carousels .owl-carousel .owl-nav button:focus {
                border-width: 2px; }
      body aside.controls .options {
        display: flex;
        justify-content: center;
        align-items: center; }
        body aside.controls .options a {
          display: none;
          /* hidden by default */ }
        body aside.controls .options [id*="option"] {
          background-color: #433d39;
          padding: 12px;
          text-align: center;
          width: 50%; }
          body aside.controls .options [id*="option"] img {
            display: inline-block; }
        body aside.controls .options #cancel-option {
          margin-right: 2px; }
        body aside.controls .options #accept-option {
          margin-left: 2px; }
  body footer {
    color: #fff;
    text-align: center;
    padding: 0 0 240px; }
    body footer .links {
      border-top: 1px solid #878381;
      display: inline-block; }
      body footer .links .logo {
        display: inline-block;
        padding: 64px 0; }
        body footer .links .logo img {
          height: 23px; }
      body footer .links ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 0 auto;
        padding: 0; }
        body footer .links ul li {
          border-right: 1px solid #fff;
          padding: 0 16px; }
          body footer .links ul li:last-of-type {
            border: none; }
          body footer .links ul li a {
            color: inherit;
            font-size: 15px;
            text-decoration: none; }
      body footer .links p {
        font-size: 12px; }
  body .row {
    display: flex;
    flex-wrap: wrap; }
    body .row [class*="col-"] {
      box-sizing: border-box;
      padding: 0 24px; }
    body .row .col-1 {
      width: 8.33333%; }
    body .row .col-2 {
      width: 16.66667%; }
    body .row .col-3 {
      width: 25%; }
    body .row .col-4 {
      width: 33.33333%; }
    body .row .col-5 {
      width: 41.66667%; }
    body .row .col-6 {
      width: 50%; }
    body .row .col-7 {
      width: 58.33333%; }
    body .row .col-8 {
      width: 66.66667%; }
    body .row .col-9 {
      width: 75%; }
    body .row .col-10 {
      width: 83.33333%; }
    body .row .col-11 {
      width: 91.66667%; }
    body .row .col-12 {
      width: 100%; }
  body .palette {
    background-color: #433d39;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    height: 0px;
    /* fix safari issue */
    margin-bottom: 48px;
    padding-bottom: 110%;
    /* grid ratio */
    position: relative;
    width: 100%; }
    body .palette.editing {
      cursor: pointer; }
      body .palette.editing .grid > div:hover:before {
        content: '';
        display: block;
        background-image: url("../img/selected.png");
        position: absolute;
        width: 34px;
        height: 34px;
        top: calc(50% - 17px);
        left: calc(50% - 17px); }
    body .palette.small {
      box-sizing: border-box;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%; }
      body .palette.small .grid {
        width: 90%;
        height: calc(100% - 92px);
        /* subtract h2 height */ }
      body .palette.small h2 {
        font-weight: 300;
        margin: 0;
        line-height: 16px;
        padding: 16px 0 8px; }
    body .palette .grid {
      background-color: #55504c;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 2fr 1fr;
      -ms-grid-rows: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      height: 100%;
      position: absolute;
      width: 100%; }
      body .palette .grid > div {
        position: relative; }
        body .palette .grid > div[data-selected="true"]:before {
          content: '';
          display: block;
          background-image: url("../img/selected.png");
          position: absolute;
          width: 34px;
          height: 34px;
          top: calc(50% - 17px);
          left: calc(50% - 17px); }
      body .palette .grid .panel-a {
        -ms-grid-column: 1 / 2;
        -ms-grid-rows: 1 / 1;
        grid-column: 1 / 2;
        grid-row: 1 / 1; }
      body .palette .grid .panel-b {
        -ms-grid-column: 2 / 3;
        -ms-grid-rows: 1 / 1;
        grid-column: 2 / 3;
        grid-row: 1 / 1; }
      body .palette .grid .couch {
        -ms-grid-column: 1 / 2;
        -ms-grid-rows: 2 / 4;
        grid-column: 1 / 2;
        grid-row: 2 / 4; }
      body .palette .grid .cabinet {
        -ms-grid-column: 2 / 3;
        -ms-grid-rows: 2 / 3;
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      body .palette .grid .headboard {
        -ms-grid-column: 2 / 3;
        -ms-grid-rows: 3 / 4;
        grid-column: 2 / 3;
        grid-row: 3 / 4; }
      body .palette .grid .caption {
        bottom: 8px;
        font-size: 16px;
        left: 8px;
        position: absolute;
        text-shadow: 0 0 10px #37312d, 0 0 10px #37312d, 0 0 10px #37312d; }
        body .palette .grid .caption .label {
          text-transform: uppercase;
          display: block; }
        body .palette .grid .caption .title {
          display: block; }
  body .btn {
    background-color: #55504c;
    border-radius: 999px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 18px 24px;
    text-decoration: none;
    transition: all 0.25s ease-in-out; }
    body .btn:hover, body .btn:focus {
      box-shadow: 0 0 8px #1d1a18;
      color: #1d1a18; }
    body .btn#customize-scheme {
      background-color: #433d39;
      border-radius: 0;
      line-height: 30px;
      padding: 20px 0;
      margin-bottom: 24px;
      text-align: center;
      width: 100%; }
      body .btn#customize-scheme .icon {
        background-image: url("../img/color-icon.png"); }
    body .btn#email-scheme {
      line-height: 30px;
      margin-bottom: 4px;
      text-align: center;
      width: 100%; }
      body .btn#email-scheme .icon {
        background-image: url("../img/send-icon.png"); }
    body .btn .icon {
      background-image: url("");
      display: inline-block;
      height: 30px;
      vertical-align: top;
      width: 30px; }
  body #popup {
    display: none; }
    body #popup[aria-hidden="false"] {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1; }
      body #popup[aria-hidden="false"]:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.75);
        pointer-events: none;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1; }
    body #popup .popup-content {
      width: 480px;
      max-width: 100%;
      margin: auto;
      padding: 0 12px;
      position: relative;
      text-align: right;
      z-index: 1; }
      body #popup .popup-content .image {
        padding-bottom: 50vh;
        margin-bottom: 12px; }
      body #popup .popup-content .text {
        color: #fff;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        text-align: left; }
      body #popup .popup-content .btn {
        margin: 8px 0 0 8px; }
        body #popup .popup-content .btn.cancel {
          background-color: transparent; }
          body #popup .popup-content .btn.cancel:hover, body #popup .popup-content .btn.cancel:focus {
            box-shadow: none;
            color: #fff; }

@media (max-width: 980px) {
  body nav #toggle-menu {
    display: block; }
  body nav ul {
    right: 0;
    padding: 6px 0;
    position: absolute;
    text-align: right;
    top: 80px; }
    body nav ul[aria-expanded="false"] {
      display: none; }
    body nav ul[aria-expanded="true"] {
      display: block; }
    body nav ul li {
      border: none;
      padding: 0; }
      body nav ul li a {
        background-color: #55504c;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        display: block;
        margin-bottom: 12px;
        padding: 12px 12px 12px 32px;
        transition: all 0.25s ease-in-out; }
        body nav ul li a:hover, body nav ul li a:focus {
          box-shadow: 0 0 8px #1d1a18;
          color: #1d1a18; }
  body header h2 {
    font-size: 12px;
    left: 5%;
    max-width: 30%; }
  body header.solution .owl-carousel .owl-item > div {
    background-position: 50% 50%;
    height: 60vh;
    min-height: 320px; }
    body header.solution .owl-carousel .owl-item > div .caption {
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      top: initial !important;
      font-size: 16px !important;
      margin: 0 !important;
      padding: 24px !important;
      width: 100% !important; }
  body header.solution .owl-carousel .owl-nav {
    top: calc(50% - 36px); }
  body article.home {
    padding: 0 10%; }
    body article.home .owl-carousel.color-palette .items .item .tile .name {
      display: none; }
    body article.home .owl-carousel.color-palette .items .item .category {
      display: none; }
  body article.schemes h1, body article.schemes p {
    text-align: center; }
  body article.create .palette {
    margin-bottom: 4px; }
  body article.solution.storage {
    padding-top: 0; }
    body article.solution.storage > * {
      width: 100% !important;
      min-height: initial;
      background-attachment: fixed; }
  body article.solution.customize .patterns {
    width: 100%; }
  body article.solution.customize .text {
    width: 100%;
    padding: 5%; }
  body .row [class*="col-"] {
    width: 100%; } }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica-light-webfont.eot");
  src: url("../fonts/helvetica-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-light-webfont.woff") format("woff"), url("../fonts/helvetica-light-webfont.ttf") format("truetype"), url("../fonts/helvetica-light-webfont.svg") format("svg"); }
