body {
  background-color: #37312d;
  font-family: 'helvetica-light'; }
  body nav {
    align-items: center;
    display: flex;
    height: 80px;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    z-index: 1; }
    body nav:before {
      background: linear-gradient(to bottom, rgba(4, 2, 2, 0.85) 0%, rgba(4, 2, 2, 0) 100%);
      content: '';
      height: 150px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1; }
    body nav .logo {
      display: flex; }
      body nav .logo .icon {
        height: 23px;
        position: relative;
        width: 23px; }
        body nav .logo .icon .bar {
          background-color: #fff;
          bottom: 0;
          height: 2px;
          position: absolute;
          right: 0;
          transform-origin: 100% 100%;
          width: 100%; }
          body nav .logo .icon .bar:nth-of-type(1) {
            opacity: 0.4; }
          body nav .logo .icon .bar:nth-of-type(2) {
            opacity: 0.6;
            transform: rotate(30deg); }
          body nav .logo .icon .bar:nth-of-type(3) {
            opacity: 0.8;
            transform: rotate(60deg); }
          body nav .logo .icon .bar:nth-of-type(4) {
            opacity: 0.9;
            transform: rotate(90deg); }
      body nav .logo .text {
        overflow: hidden;
        width: 138px; }
      body nav .logo img {
        height: 23px;
        padding-left: 6px; }
      body nav .logo.animate {
        /* only animate when animate class is applies */ }
        body nav .logo.animate .bar:nth-of-type(1) {
          animation: 2s ease-in-out anim-bar-1; }
        body nav .logo.animate .bar:nth-of-type(2) {
          animation: 2s ease-in-out anim-bar-2; }
        body nav .logo.animate .bar:nth-of-type(3) {
          animation: 2s ease-in-out anim-bar-3; }
        body nav .logo.animate .bar:nth-of-type(4) {
          animation: 2s ease-in-out anim-bar-4; }
        body nav .logo.animate .text {
          animation: 3s ease-out anim-text; }

@keyframes anim-bar-1 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.4; } }

@keyframes anim-bar-2 {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  50% {
    opacity: 0.6; } }

@keyframes anim-bar-3 {
  0% {
    opacity: 0; }
  55% {
    opacity: 0; }
  75% {
    opacity: 0.8; } }

@keyframes anim-bar-4 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes anim-text {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 138px; } }
    body nav #toggle-menu {
      display: none;
      /* default hidden */
      opacity: 0.8;
      position: absolute;
      right: 24px;
      top: 32px;
      width: 30px; }
    body nav ul {
      color: #fff;
      display: flex;
      list-style: none;
      margin: 0 0 0 auto;
      padding: 0; }
      body nav ul li {
        border-right: 1px solid #fff;
        padding: 0 16px; }
        body nav ul li:last-of-type {
          border: none; }
        body nav ul li a {
          color: inherit;
          font-size: 15px;
          text-decoration: none; }
  body header {
    position: relative;
    z-index: 0; }
    body header .owl-carousel.home .owl-item div {
      background-size: cover;
      background-position: center;
      color: transparent;
      height: calc(100vh - 180px);
      min-height: 360px; }
      body header .owl-carousel.home .owl-item div.slide-1 {
        background-image: url("../img/home/home-1.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-2 {
        background-image: url("../img/home/home-2.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-3 {
        background-image: url("../img/home/home-3.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-4 {
        background-image: url("../img/home/home-4.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-5 {
        background-image: url("../img/home/home-5.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-6 {
        background-image: url("../img/home/home-6.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-7 {
        background-image: url("../img/home/home-7.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-8 {
        background-image: url("../img/home/home-8.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-9 {
        background-image: url("../img/home/home-9.jpg"); }
      body header .owl-carousel.home .owl-item div.slide-10 {
        background-image: url("../img/home/home-10.jpg"); }
    body header h2 {
      color: #37312d;
      font-size: 2vw;
      left: 20%;
      max-width: 15%;
      position: absolute;
      top: 20%;
      z-index: 1; }
  body section.create {
    color: #ffffff;
    text-align: center;
    margin-top: -128px;
    overflow: hidden; }
    body section.create .owl-carousel.palette {
      margin: auto;
      max-width: 960px; }
      body section.create .owl-carousel.palette .headline {
        padding: 12px 0;
        position: relative;
        z-index: 1;
        width: 100%; }
        body section.create .owl-carousel.palette .headline p {
          font-size: 18px;
          margin: 0; }
        body section.create .owl-carousel.palette .headline em {
          font-size: 12px; }
      body section.create .owl-carousel.palette .items {
        display: flex; }
        body section.create .owl-carousel.palette .items .item {
          padding: 2%;
          width: 20%; }
          body section.create .owl-carousel.palette .items .item .tile {
            align-items: center;
            border-radius: 7px;
            box-shadow: 0 0 8px #1d1a18;
            display: flex;
            height: 162px;
            justify-content: center;
            margin: auto;
            width: 100%; }
            body section.create .owl-carousel.palette .items .item .tile .name {
              font-size: 16px; }
          body section.create .owl-carousel.palette .items .item .category {
            display: block;
            font-size: 12px;
            padding: 16px 0;
            text-transform: uppercase; }
      body section.create .owl-carousel.palette .owl-nav {
        position: absolute;
        bottom: calc(60% - 36px);
        width: calc(120%);
        left: -10%; }
        body section.create .owl-carousel.palette .owl-nav button {
          color: transparent;
          height: 48px;
          opacity: 0.8;
          position: absolute;
          width: 16px; }
          body section.create .owl-carousel.palette .owl-nav button.owl-prev {
            left: 12px;
            background-image: url("../img/left-arrow.svg"); }
          body section.create .owl-carousel.palette .owl-nav button.owl-next {
            right: 12px;
            background-image: url("../img/right-arrow.svg"); }
    body section.create .cta {
      padding: 32px 0 80px; }
  body footer {
    color: #fff;
    text-align: center;
    padding: 0 0 240px; }
    body footer .links {
      border-top: 1px solid #878381;
      display: inline-block; }
      body footer .links .logo {
        display: inline-block;
        padding: 64px 0; }
        body footer .links .logo img {
          height: 23px; }
      body footer .links ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 0 auto;
        padding: 0; }
        body footer .links ul li {
          border-right: 1px solid #fff;
          padding: 0 16px; }
          body footer .links ul li:last-of-type {
            border: none; }
          body footer .links ul li a {
            color: inherit;
            font-size: 15px;
            text-decoration: none; }
      body footer .links p {
        font-size: 12px; }
  body .btn {
    background-color: #55504c;
    border-radius: 999px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 18px 24px;
    text-decoration: none;
    transition: all 0.25s ease-in-out; }
    body .btn:hover, body .btn:focus {
      box-shadow: 0 0 8px #1d1a18;
      color: #1d1a18; }

@media (max-width: 980px) {
  body nav #toggle-menu {
    display: block; }
  body nav ul {
    right: 0;
    padding: 6px 0;
    position: absolute;
    text-align: right;
    top: 80px; }
    body nav ul[aria-expanded="false"] {
      display: none; }
    body nav ul[aria-expanded="true"] {
      display: block; }
    body nav ul li {
      border: none;
      padding: 0; }
      body nav ul li a {
        background-color: #55504c;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        display: block;
        margin-bottom: 12px;
        padding: 12px 12px 12px 32px;
        transition: all 0.25s ease-in-out; }
        body nav ul li a:hover, body nav ul li a:focus {
          box-shadow: 0 0 8px #1d1a18;
          color: #1d1a18; }
  body header h2 {
    font-size: 12px;
    left: 5%;
    max-width: 30%; }
  body section.create {
    padding: 0 10%; }
    body section.create .owl-carousel.palette .items .item .tile .name {
      display: none; }
    body section.create .owl-carousel.palette .items .item .category {
      display: none; } }

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica-light-webfont.eot");
  src: url("../fonts/helvetica-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-light-webfont.woff") format("woff"), url("../fonts/helvetica-light-webfont.ttf") format("truetype"), url("../fonts/helvetica-light-webfont.svg") format("svg"); }
