.texture { background-size: cover; background-position: center; }
.cabinets.alabama-cherry { background-image: url("../img/textures/cabinets/alabama-cherry.jpg"); }
.cabinets.almond { background-image: url("../img/textures/cabinets/almond.jpg"); }
.cabinets.antique-white { background-image: url("../img/textures/cabinets/antique-white.jpg"); }
.cabinets.black { background-image: url("../img/textures/cabinets/black.jpg"); }
.cabinets.blond-echo { background-image: url("../img/textures/cabinets/blond-echo.jpg"); }
.cabinets.charcoal { background-image: url("../img/textures/cabinets/charcoal.jpg"); }
.cabinets.chocolate-pear { background-image: url("../img/textures/cabinets/chocolate-pear.jpg"); }
.cabinets.cinnamon-myrtle { background-image: url("../img/textures/cabinets/cinnamon-myrtle.jpg"); }
.cabinets.cognac { background-image: url("../img/textures/cabinets/cognac.jpg"); }
.cabinets.cordoba-pine { background-image: url("../img/textures/cabinets/cordoba-pine.jpg"); }
.cabinets.dove-gray { background-image: url("../img/textures/cabinets/dove-gray.jpg"); }
.cabinets.folkstone { background-image: url("../img/textures/cabinets/folkstone.jpg"); }
.cabinets.glacier-white { background-image: url("../img/textures/cabinets/glacier-white.jpg"); }
.cabinets.hardrock-maple { background-image: url("../img/textures/cabinets/hardrock-maple.jpg"); }
.cabinets.italian-walnut { background-image: url("../img/textures/cabinets/italian-walnut.jpg"); }
.cabinets.mahogany { background-image: url("../img/textures/cabinets/mahogany.jpg"); }
.cabinets.natural-maple { background-image: url("../img/textures/cabinets/natural-maple.jpg"); }
.cabinets.norwegian-maple { background-image: url("../img/textures/cabinets/norwegian-maple.jpg"); }
.cabinets.rainier-white { background-image: url("../img/textures/cabinets/rainier-white.jpg"); }
.cabinets.shaker-cherry { background-image: url("../img/textures/cabinets/shaker-cherry.jpg"); }
.cabinets.silver-frost { background-image: url("../img/textures/cabinets/silver-frost.jpg"); }
.cabinets.summit { background-image: url("../img/textures/cabinets/summit.jpg"); }
.cabinets.wild-apple { background-image: url("../img/textures/cabinets/wild-apple.jpg"); }
.couches.black { background-image: url("../img/textures/couches/black.jpg"); }
.couches.bourbon { background-image: url("../img/textures/couches/bourbon.jpg"); }
.couches.brick { background-image: url("../img/textures/couches/brick.jpg"); }
.couches.bronx-moon-dust { background-image: url("../img/textures/couches/bronx-moon-dust.jpg"); }
.couches.brooklyn-creme-brulee { background-image: url("../img/textures/couches/brooklyn-creme-brulee.jpg"); }
.couches.brooklyn-fog { background-image: url("../img/textures/couches/brooklyn-fog.jpg"); }
.couches.casablanca-smoke { background-image: url("../img/textures/couches/casablanca-smoke.jpg"); }
.couches.cetus-bourbon { background-image: url("../img/textures/couches/cetus-bourbon.jpg"); }
.couches.cetus-cielo { background-image: url("../img/textures/couches/cetus-cielo.jpg"); }
.couches.cetus-granite { background-image: url("../img/textures/couches/cetus-granite.jpg"); }
.couches.cetus-nuvolo { background-image: url("../img/textures/couches/cetus-nuvolo.jpg"); }
.couches.cetus-pebble { background-image: url("../img/textures/couches/cetus-pebble.jpg"); }
.couches.cetus-slate { background-image: url("../img/textures/couches/cetus-slate.jpg"); }
.couches.cetus-smoke { background-image: url("../img/textures/couches/cetus-smoke.jpg"); }
.couches.chalk { background-image: url("../img/textures/couches/chalk.jpg"); }
.couches.charlott { background-image: url("../img/textures/couches/charlott.jpg"); }
.couches.chocolate { background-image: url("../img/textures/couches/chocolate.jpg"); }
.couches.cloud { background-image: url("../img/textures/couches/cloud.jpg"); }
.couches.dante-spice { background-image: url("../img/textures/couches/dante-spice.jpg"); }
.couches.deer-run-lilac { background-image: url("../img/textures/couches/deer-run-lilac.jpg"); }
.couches.eugene-sabia { background-image: url("../img/textures/couches/eugene-sabia.jpg"); }
.couches.eugene-slate { background-image: url("../img/textures/couches/eugene-slate.jpg"); }
.couches.galileo-red { background-image: url("../img/textures/couches/galileo-red.jpg"); }
.couches.holiday-lace { background-image: url("../img/textures/couches/holiday-lace.jpg"); }
.couches.holiday-mink { background-image: url("../img/textures/couches/holiday-mink.jpg"); }
.couches.ivory { background-image: url("../img/textures/couches/ivory.jpg"); }
.couches.lipstick { background-image: url("../img/textures/couches/lipstick.jpg"); }
.couches.maxima-coffee { background-image: url("../img/textures/couches/maxima-coffee.jpg"); }
.couches.maxima-onyx { background-image: url("../img/textures/couches/maxima-onyx.jpg"); }
.couches.maxima-pewter { background-image: url("../img/textures/couches/maxima-pewter.jpg"); }
.couches.modern-gray { background-image: url("../img/textures/couches/modern-gray.jpg"); }
.couches.off-the-grid { background-image: url("../img/textures/couches/off-the-grid.jpg"); }
.couches.optical-white { background-image: url("../img/textures/couches/optical-white.jpg"); }
.couches.pink-elmanordic { background-image: url("../img/textures/couches/pink-elmanordic.jpg"); }
.couches.purple-elmanordic { background-image: url("../img/textures/couches/purple-elmanordic.jpg"); }
.couches.raspberry { background-image: url("../img/textures/couches/raspberry.jpg"); }
.couches.regent-sand { background-image: url("../img/textures/couches/regent-sand.jpg"); }
.couches.saddle { background-image: url("../img/textures/couches/saddle.jpg"); }
.couches.tumbleweed { background-image: url("../img/textures/couches/tumbleweed.jpg"); }
.headboards.aubergine { background-image: url("../img/textures/headboards/aubergine.jpg"); }
.headboards.bittersweet { background-image: url("../img/textures/headboards/bittersweet.jpg"); }
.headboards.black { background-image: url("../img/textures/headboards/black.jpg"); }
.headboards.brick { background-image: url("../img/textures/headboards/brick.jpg"); }
.headboards.buckskin { background-image: url("../img/textures/headboards/buckskin.jpg"); }
.headboards.camel { background-image: url("../img/textures/headboards/camel.jpg"); }
.headboards.canary { background-image: url("../img/textures/headboards/canary.jpg"); }
.headboards.celery { background-image: url("../img/textures/headboards/celery.jpg"); }
.headboards.cement { background-image: url("../img/textures/headboards/cement.jpg"); }
.headboards.charcoal { background-image: url("../img/textures/headboards/charcoal.jpg"); }
.headboards.chestnut { background-image: url("../img/textures/headboards/chestnut.jpg"); }
.headboards.chocolate { background-image: url("../img/textures/headboards/chocolate.jpg"); }
.headboards.cinnabar { background-image: url("../img/textures/headboards/cinnabar.jpg"); }
.headboards.citron { background-image: url("../img/textures/headboards/citron.jpg"); }
.headboards.coffee { background-image: url("../img/textures/headboards/coffee.jpg"); }
.headboards.copper { background-image: url("../img/textures/headboards/copper.jpg"); }
.headboards.cream { background-image: url("../img/textures/headboards/cream.jpg"); }
.headboards.dandelion { background-image: url("../img/textures/headboards/dandelion.jpg"); }
.headboards.doeskin { background-image: url("../img/textures/headboards/doeskin.jpg"); }
.headboards.dove { background-image: url("../img/textures/headboards/dove.jpg"); }
.headboards.dustyrose { background-image: url("../img/textures/headboards/dustyrose.jpg"); }
.headboards.earth { background-image: url("../img/textures/headboards/earth.jpg"); }
.headboards.espresso { background-image: url("../img/textures/headboards/espresso.jpg"); }
.headboards.faun { background-image: url("../img/textures/headboards/faun.jpg"); }
.headboards.godiva { background-image: url("../img/textures/headboards/godiva.jpg"); }
.headboards.gunmetal { background-image: url("../img/textures/headboards/gunmetal.jpg"); }
.headboards.hunter { background-image: url("../img/textures/headboards/hunter.jpg"); }
.headboards.indigo { background-image: url("../img/textures/headboards/indigo.jpg"); }
.headboards.khaki { background-image: url("../img/textures/headboards/khaki.jpg"); }
.headboards.kiwi { background-image: url("../img/textures/headboards/kiwi.jpg"); }
.headboards.lichen { background-image: url("../img/textures/headboards/lichen.jpg"); }
.headboards.lilac { background-image: url("../img/textures/headboards/lilac.jpg"); }
.headboards.lipstick { background-image: url("../img/textures/headboards/lipstick.jpg"); }
.headboards.mica { background-image: url("../img/textures/headboards/mica.jpg"); }
.headboards.midi { background-image: url("../img/textures/headboards/midi.jpg"); }
.headboards.mustard { background-image: url("../img/textures/headboards/mustard.jpg"); }
.headboards.navy { background-image: url("../img/textures/headboards/navy.jpg"); }
.headboards.new-mocha { background-image: url("../img/textures/headboards/new-mocha.jpg"); }
.headboards.olive { background-image: url("../img/textures/headboards/olive.jpg"); }
.headboards.orangeade { background-image: url("../img/textures/headboards/orangeade.jpg"); }
.headboards.oyster { background-image: url("../img/textures/headboards/oyster.jpg"); }
.headboards.parchment { background-image: url("../img/textures/headboards/parchment.jpg"); }
.headboards.passion-purple { background-image: url("../img/textures/headboards/passion-purple.jpg"); }
.headboards.peat { background-image: url("../img/textures/headboards/peat.jpg"); }
.headboards.platinum { background-image: url("../img/textures/headboards/platinum.jpg"); }
.headboards.pumpkin { background-image: url("../img/textures/headboards/pumpkin.jpg"); }
.headboards.rust { background-image: url("../img/textures/headboards/rust.jpg"); }
.headboards.sage { background-image: url("../img/textures/headboards/sage.jpg"); }
.headboards.sea { background-image: url("../img/textures/headboards/sea.jpg"); }
.headboards.seafoam { background-image: url("../img/textures/headboards/seafoam.jpg"); }
.headboards.sky { background-image: url("../img/textures/headboards/sky.jpg"); }
.headboards.stone { background-image: url("../img/textures/headboards/stone.jpg"); }
.headboards.sunshine { background-image: url("../img/textures/headboards/sunshine.jpg"); }
.headboards.tidepool { background-image: url("../img/textures/headboards/tidepool.jpg"); }
.headboards.toast { background-image: url("../img/textures/headboards/toast.jpg"); }
.headboards.tomato { background-image: url("../img/textures/headboards/tomato.jpg"); }
.headboards.turquoise { background-image: url("../img/textures/headboards/turquoise.jpg"); }
.headboards.violet { background-image: url("../img/textures/headboards/violet.jpg"); }
.headboards.white { background-image: url("../img/textures/headboards/white.jpg"); }
.headboards.wine { background-image: url("../img/textures/headboards/wine.jpg"); }
.panels.aged-french-oak { background-image: url("../img/textures/panels/aged-french-oak.jpg"); }
.panels.bankers-gray { background-image: url("../img/textures/panels/bankers-gray.jpg"); }
.panels.bronze-linen { background-image: url("../img/textures/panels/bronze-linen.jpg"); }
.panels.brushed-steel { background-image: url("../img/textures/panels/brushed-steel.jpg"); }
.panels.bubble-gum-crok { background-image: url("../img/textures/panels/bubble-gum-crok.jpg"); }
.panels.butter-cream { background-image: url("../img/textures/panels/butter-cream.jpg"); }
.panels.candy-apple { background-image: url("../img/textures/panels/candy-apple.jpg"); }
.panels.carbon { background-image: url("../img/textures/panels/carbon.jpg"); }
.panels.cottage { background-image: url("../img/textures/panels/cottage.jpg"); }
.panels.drift-cloth { background-image: url("../img/textures/panels/drift-cloth.jpg"); }
.panels.earth { background-image: url("../img/textures/panels/earth.jpg"); }
.panels.french-roast { background-image: url("../img/textures/panels/french-roast.jpg"); }
.panels.glass-drift { background-image: url("../img/textures/panels/glass-drift.jpg"); }
.panels.gotham-stone { background-image: url("../img/textures/panels/gotham-stone.jpg"); }
.panels.graphite-reign { background-image: url("../img/textures/panels/graphite-reign.jpg"); }
.panels.gray-flannel { background-image: url("../img/textures/panels/gray-flannel.jpg"); }
.panels.gray-mist { background-image: url("../img/textures/panels/gray-mist.jpg"); }
.panels.key-lime-pie { background-image: url("../img/textures/panels/key-lime-pie.jpg"); }
.panels.melted-chocolate { background-image: url("../img/textures/panels/melted-chocolate.jpg"); }
.panels.midnight-crok { background-image: url("../img/textures/panels/midnight-crok.jpg"); }
.panels.orange-crush { background-image: url("../img/textures/panels/orange-crush.jpg"); }
.panels.parchment { background-image: url("../img/textures/panels/parchment.jpg"); }
.panels.pearl-stardust { background-image: url("../img/textures/panels/pearl-stardust.jpg"); }
.panels.pewter-rain { background-image: url("../img/textures/panels/pewter-rain.jpg"); }
.panels.pure-snow { background-image: url("../img/textures/panels/pure-snow.jpg"); }
.panels.purple-reign { background-image: url("../img/textures/panels/purple-reign.jpg"); }
.panels.ravenwood { background-image: url("../img/textures/panels/ravenwood.jpg"); }
.panels.raw-dusk { background-image: url("../img/textures/panels/raw-dusk.jpg"); }
.panels.sahara { background-image: url("../img/textures/panels/sahara.jpg"); }
.panels.sand-dune { background-image: url("../img/textures/panels/sand-dune.jpg"); }
.panels.serengeti { background-image: url("../img/textures/panels/serengeti.jpg"); }
.panels.shades-of-gray { background-image: url("../img/textures/panels/shades-of-gray.jpg"); }
.panels.silky-putty { background-image: url("../img/textures/panels/silky-putty.jpg"); }
.panels.silver-mist { background-image: url("../img/textures/panels/silver-mist.jpg"); }
.panels.snow-crok { background-image: url("../img/textures/panels/snow-crok.jpg"); }
.panels.snow-trees { background-image: url("../img/textures/panels/snow-trees.jpg"); }
.panels.stainless-twist { background-image: url("../img/textures/panels/stainless-twist.jpg"); }
.panels.stardust { background-image: url("../img/textures/panels/stardust.jpg"); }
.panels.stealth { background-image: url("../img/textures/panels/stealth.jpg"); }
.panels.sunset-brown { background-image: url("../img/textures/panels/sunset-brown.jpg"); }
.panels.twisted-steel { background-image: url("../img/textures/panels/twisted-steel.jpg"); }
.panels.urban-cowboy { background-image: url("../img/textures/panels/urban-cowboy.jpg"); }