/* panels, cabinets, leather */
.texture {
  background-size: cover;
  background-position: center; }

/* panels */
.ascott-panel {
  background-image: url("../img/textures/panels/ascott.jpg"); }

.glacier-panel {
  background-image: url("../img/textures/panels/glacier.jpg"); }

.ravenwood-panel {
  background-image: url("../img/textures/panels/ravenwood.jpg"); }

.bankers-gray-panel {
  background-image: url("../img/textures/panels/bankers-gray.jpg"); }

.glass-drift-panel {
  background-image: url("../img/textures/panels/glass-drift.jpg"); }

.raw-dusk-panel {
  background-image: url("../img/textures/panels/raw-dusk.jpg"); }

.black-hole-panel {
  background-image: url("../img/textures/panels/black-hole.jpg"); }

.glass-wenge-panel {
  background-image: url("../img/textures/panels/glass-wenge.jpg"); }

.sahara-panel {
  background-image: url("../img/textures/panels/sahara.jpg"); }

.black-on-black-panel {
  background-image: url("../img/textures/panels/black-on-black.jpg"); }

.gotham-stone-panel {
  background-image: url("../img/textures/panels/gotham-stone.jpg"); }

.serengeti-panel {
  background-image: url("../img/textures/panels/serengeti.jpg"); }

.black-tie-panel {
  background-image: url("../img/textures/panels/black-tie.jpg"); }

.graphite-reign-panel {
  background-image: url("../img/textures/panels/graphite-reign.jpg"); }

.shades-of-gray-panel {
  background-image: url("../img/textures/panels/shades-of-gray.jpg"); }

.bronze-linen-panel {
  background-image: url("../img/textures/panels/bronze-linen.jpg"); }

.gray-flannel-panel {
  background-image: url("../img/textures/panels/gray-flannel.jpg"); }

.silky-putty-panel {
  background-image: url("../img/textures/panels/silky-putty.jpg"); }

.brushed-steel-panel {
  background-image: url("../img/textures/panels/brushed-steel.jpg"); }

.gray-mist-panel {
  background-image: url("../img/textures/panels/gray-mist.jpg"); }

.snow-crok-panel {
  background-image: url("../img/textures/panels/snow-crok.jpg"); }

.carbon-panel {
  background-image: url("../img/textures/panels/carbon.jpg"); }

.latte-trees-panel {
  background-image: url("../img/textures/panels/latte-trees.jpg"); }

.snow-trees-panel {
  background-image: url("../img/textures/panels/snow-trees.jpg"); }

.carbon-black-panel {
  background-image: url("../img/textures/panels/carbon-black.jpg"); }

.linen-sail-panel {
  background-image: url("../img/textures/panels/linen-sail.jpg"); }

.stainless-twist-panel {
  background-image: url("../img/textures/panels/stainless-twist.jpg"); }

.carbon-new-panel {
  background-image: url("../img/textures/panels/carbon-new.jpg"); }

.melted-chocolate-panel {
  background-image: url("../img/textures/panels/melted-chocolate.jpg"); }

.stardust-panel {
  background-image: url("../img/textures/panels/stardust.jpg"); }

.chantilly-gray-panel {
  background-image: url("../img/textures/panels/chantilly-gray.jpg"); }

.midnight-crok-panel {
  background-image: url("../img/textures/panels/midnight-crok.jpg"); }

.stealth-panel {
  background-image: url("../img/textures/panels/stealth.jpg"); }

.cottage-panel {
  background-image: url("../img/textures/panels/cottage.jpg"); }

.parchment-panel {
  background-image: url("../img/textures/panels/parchment.jpg"); }

.sunset-brown-panel {
  background-image: url("../img/textures/panels/sunset-brown.jpg"); }

.drift-cloth-panel {
  background-image: url("../img/textures/panels/drift-cloth.jpg"); }

.pearl-stardust-panel {
  background-image: url("../img/textures/panels/pearl-stardust.jpg"); }

.twisted-steel-panel {
  background-image: url("../img/textures/panels/twisted-steel.jpg"); }

.sand-dune-panel {
  background-image: url("../img/textures/panels/sand-dune.jpg"); }

.pewter-rain-panel {
  background-image: url("../img/textures/panels/pewter-rain.jpg"); }

.urban-cowboy-panel {
  background-image: url("../img/textures/panels/urban-cowboy.jpg"); }

.earth-panel {
  background-image: url("../img/textures/panels/earth.jpg"); }

.pure-snow-panel {
  background-image: url("../img/textures/panels/pure-snow.jpg"); }

.white-prism-panel {
  background-image: url("../img/textures/panels/white-prism.jpg"); }

.french-roast-panel {
  background-image: url("../img/textures/panels/french-roast.jpg"); }

.bubble-gum-crok-panel {
  background-image: url("../img/textures/panels/bubble-gum-crok.jpg"); }

.butter-cream-panel {
  background-image: url("../img/textures/panels/butter-cream.jpg"); }

.candy-apple-panel {
  background-image: url("../img/textures/panels/candy-apple.jpg"); }

.key-lime-pie-panel {
  background-image: url("../img/textures/panels/key-lime-pie.jpg"); }

/* headboards */
.aubergine-headboard {
  background-image: url("../img/textures/headboards/aubergine.jpg"); }

.citron-headboard {
  background-image: url("../img/textures/headboards/citron.jpg"); }

.gunmetal-headboard {
  background-image: url("../img/textures/headboards/gunmetal.jpg"); }

.olive-headboard {
  background-image: url("../img/textures/headboards/olive.jpg"); }

.stone-headboard {
  background-image: url("../img/textures/headboards/stone.jpg"); }

.bittersweet-headboard {
  background-image: url("../img/textures/headboards/bittersweet.jpg"); }

.cloud-headboard {
  background-image: url("../img/textures/headboards/cloud.jpg"); }

.hunter-headboard {
  background-image: url("../img/textures/headboards/hunter.jpg"); }

.orangeade-headboard {
  background-image: url("../img/textures/headboards/orangeade.jpg"); }

.sunshine-headboard {
  background-image: url("../img/textures/headboards/sunshine.jpg"); }

.black-headboard {
  background-image: url("../img/textures/headboards/black.jpg"); }

.coffee-headboard {
  background-image: url("../img/textures/headboards/coffee.jpg"); }

.indigo-headboard {
  background-image: url("../img/textures/headboards/indigo.jpg"); }

.oyster-headboard {
  background-image: url("../img/textures/headboards/oyster.jpg"); }

.tidepool-headboard {
  background-image: url("../img/textures/headboards/tidepool.jpg"); }

.brick-headboard {
  background-image: url("../img/textures/headboards/brick.jpg"); }

.copper-headboard {
  background-image: url("../img/textures/headboards/copper.jpg"); }

.khaki-headboard {
  background-image: url("../img/textures/headboards/khaki.jpg"); }

.parchment-headboard {
  background-image: url("../img/textures/headboards/parchment.jpg"); }

.toast-headboard {
  background-image: url("../img/textures/headboards/toast.jpg"); }

.buckskin-headboard {
  background-image: url("../img/textures/headboards/buckskin.jpg"); }

.cream-headboard {
  background-image: url("../img/textures/headboards/cream.jpg"); }

.kiwi-headboard {
  background-image: url("../img/textures/headboards/kiwi.jpg"); }

.peat-headboard {
  background-image: url("../img/textures/headboards/peat.jpg"); }

.tomato-headboard {
  background-image: url("../img/textures/headboards/tomato.jpg"); }

.camel-headboard {
  background-image: url("../img/textures/headboards/camel.jpg"); }

.dandelion-headboard {
  background-image: url("../img/textures/headboards/dandelion.jpg"); }

.lichen-headboard {
  background-image: url("../img/textures/headboards/lichen.jpg"); }

.platinum-headboard {
  background-image: url("../img/textures/headboards/platinum.jpg"); }

.turquoise-headboard {
  background-image: url("../img/textures/headboards/turquoise.jpg"); }

.canary-headboard {
  background-image: url("../img/textures/headboards/canary.jpg"); }

.doeskin-headboard {
  background-image: url("../img/textures/headboards/doeskin.jpg"); }

.lilac-headboard {
  background-image: url("../img/textures/headboards/lilac.jpg"); }

.pumpkin-headboard {
  background-image: url("../img/textures/headboards/pumpkin.jpg"); }

.violet-headboard {
  background-image: url("../img/textures/headboards/violet.jpg"); }

.celery-headboard {
  background-image: url("../img/textures/headboards/celery.jpg"); }

.dove-headboard {
  background-image: url("../img/textures/headboards/dove.jpg"); }

.lipstick-headboard {
  background-image: url("../img/textures/headboards/lipstick.jpg"); }

.passion-purple-headboard {
  background-image: url("../img/textures/headboards/passion-purple.jpg"); }

.white-headboard {
  background-image: url("../img/textures/headboards/white.jpg"); }

.cement-headboard {
  background-image: url("../img/textures/headboards/cement.jpg"); }

.dustyrose-headboard {
  background-image: url("../img/textures/headboards/dustyrose.jpg"); }

.mica-headboard {
  background-image: url("../img/textures/headboards/mica.jpg"); }

.rust-headboard {
  background-image: url("../img/textures/headboards/rust.jpg"); }

.wine-headboard {
  background-image: url("../img/textures/headboards/wine.jpg"); }

.charcoal-headboard {
  background-image: url("../img/textures/headboards/charcoal.jpg"); }

.earth-headboard {
  background-image: url("../img/textures/headboards/earth.jpg"); }

.midi-headboard {
  background-image: url("../img/textures/headboards/midi.jpg"); }

.sage-headboard {
  background-image: url("../img/textures/headboards/sage.jpg"); }

.chestnut-headboard {
  background-image: url("../img/textures/headboards/chestnut.jpg"); }

.espresso-headboard {
  background-image: url("../img/textures/headboards/espresso.jpg"); }

.mustard-headboard {
  background-image: url("../img/textures/headboards/mustard.jpg"); }

.sea-headboard {
  background-image: url("../img/textures/headboards/sea.jpg"); }

.chocolate-headboard {
  background-image: url("../img/textures/headboards/chocolate.jpg"); }

.faun-headboard {
  background-image: url("../img/textures/headboards/faun.jpg"); }

.navy-headboard {
  background-image: url("../img/textures/headboards/navy.jpg"); }

.seafoam-headboard {
  background-image: url("../img/textures/headboards/seafoam.jpg"); }

.cinnabar-headboard {
  background-image: url("../img/textures/headboards/cinnabar.jpg"); }

.godiva-headboard {
  background-image: url("../img/textures/headboards/godiva.jpg"); }

.new-mocha-headboard {
  background-image: url("../img/textures/headboards/new-mocha.jpg"); }

.sky-headboard {
  background-image: url("../img/textures/headboards/sky.jpg"); }

/* couches */
.black-couch {
  background-image: url("../img/textures/couches/black.jpg"); }

.charlott-couch {
  background-image: url("../img/textures/couches/charlott.jpg"); }

.maxima-pewter-couch {
  background-image: url("../img/textures/couches/maxima-pewter.jpg"); }

.bourbon-couch {
  background-image: url("../img/textures/couches/bourbon.jpg"); }

.chocolate-couch {
  background-image: url("../img/textures/couches/chocolate.jpg"); }

.off-the-grid-couch {
  background-image: url("../img/textures/couches/off-the-grid.jpg"); }

.brick-couch {
  background-image: url("../img/textures/couches/brick.jpg"); }

.cloud-couch {
  background-image: url("../img/textures/couches/cloud.jpg"); }

.optical-white-couch {
  background-image: url("../img/textures/couches/optical-white.jpg"); }

.bronx-moon-dust-couch {
  background-image: url("../img/textures/couches/bronx-moon-dust.jpg"); }

.dante-spice-couch {
  background-image: url("../img/textures/couches/dante-spice.jpg"); }

.pink-elmanordic-couch {
  background-image: url("../img/textures/couches/pink-elmanordic.jpg"); }

.brooklyn-creme-brulee-couch {
  background-image: url("../img/textures/couches/brooklyn-creme-brulee.jpg"); }

.deer-run-lilac-couch {
  background-image: url("../img/textures/couches/deer-run-lilac.jpg"); }

.raspberry-couch {
  background-image: url("../img/textures/couches/raspberry.jpg"); }

.brooklyn-fog-couch {
  background-image: url("../img/textures/couches/brooklyn-fog.jpg"); }

.purple-elmanordic-couch {
  background-image: url("../img/textures/couches/purple-elmanordic.jpg"); }

.regent-modern-gray-couch {
  background-image: url("../img/textures/couches/regent-modern-gray.jpg"); }

.casablanca-smoke-couch {
  background-image: url("../img/textures/couches/casablanca-smoke.jpg"); }

.eugene-sabia-couch {
  background-image: url("../img/textures/couches/eugene-sabia.jpg"); }

.regent-sand-couch {
  background-image: url("../img/textures/couches/regent-sand.jpg"); }

.cetus-cielo-couch {
  background-image: url("../img/textures/couches/cetus-cielo.jpg"); }

.eugene-slate-couch {
  background-image: url("../img/textures/couches/eugene-slate.jpg"); }

.saddle-couch {
  background-image: url("../img/textures/couches/saddle.jpg"); }

.cetus-granite-couch {
  background-image: url("../img/textures/couches/cetus-granite.jpg"); }

.holiday-lace-couch {
  background-image: url("../img/textures/couches/holiday-lace.jpg"); }

.ivory-couch {
  background-image: url("../img/textures/couches/ivory.jpg"); }

.cetus-nuvolo-couch {
  background-image: url("../img/textures/couches/cetus-nuvolo.jpg"); }

.holiday-mink-couch {
  background-image: url("../img/textures/couches/holiday-mink.jpg"); }

.slate-couch {
  background-image: url("../img/textures/couches/slate.jpg"); }

.cetus-pebble-couch {
  background-image: url("../img/textures/couches/cetus-pebble.jpg"); }

.lipstick-couch {
  background-image: url("../img/textures/couches/lipstick.jpg"); }

.tumbleweed-couch {
  background-image: url("../img/textures/couches/tumbleweed.jpg"); }

.cetus-smoke-couch {
  background-image: url("../img/textures/couches/cetus-smoke.jpg"); }

.maxima-coffee-couch {
  background-image: url("../img/textures/couches/maxima-coffee.jpg"); }

.chalk-couch {
  background-image: url("../img/textures/couches/chalk.jpg"); }

.maxima-onyx-couch {
  background-image: url("../img/textures/couches/maxima-onyx.jpg"); }

.cetus-slate-couch {
  background-image: url("../img/textures/couches/cetus-slate.jpg"); }

.cetus-bourbon-couch {
  background-image: url("../img/textures/couches/cetus-bourbon.jpg"); }

.modern-gray-couch {
  background-image: url("../img/textures/couches/modern-gray.jpg"); }

.galileo-red-couch {
  background-image: url("../img/textures/couches/galileo-red.jpg"); }

/* cabinets */
.alabama-cherry-cabinet {
  background-image: url("../img/textures/cabinets/alabama-cherry.jpg"); }

.cognac-cabinet {
  background-image: url("../img/textures/cabinets/cognac.jpg"); }

.rainier-white-cabinet {
  background-image: url("../img/textures/cabinets/rainier-white.jpg"); }

.almond-cabinet {
  background-image: url("../img/textures/cabinets/almond.jpg"); }

.cordoba-pine-cabinet {
  background-image: url("../img/textures/cabinets/cordoba-pine.jpg"); }

.silver-frost-cabinet {
  background-image: url("../img/textures/cabinets/silver-frost.jpg"); }

.antique-white-cabinet {
  background-image: url("../img/textures/cabinets/antique-white.jpg"); }

.dove-gray-cabinet {
  background-image: url("../img/textures/cabinets/dove-gray.jpg"); }

.slate-cabinet {
  background-image: url("../img/textures/cabinets/slate.jpg"); }

.black-cabinet {
  background-image: url("../img/textures/cabinets/black.jpg"); }

.folkstone-cabinet {
  background-image: url("../img/textures/cabinets/folkstone.jpg"); }

.summit-cabinet {
  background-image: url("../img/textures/cabinets/summit.jpg"); }

.blond-echo-cabinet {
  background-image: url("../img/textures/cabinets/blond-echo.jpg"); }

.hardrock-maple-cabinet {
  background-image: url("../img/textures/cabinets/hardrock-maple.jpg"); }

.wild-apple-cabinet {
  background-image: url("../img/textures/cabinets/wild-apple.jpg"); }

.charcoal-cabinet {
  background-image: url("../img/textures/cabinets/charcoal.jpg"); }

.italian-walnut-cabinet {
  background-image: url("../img/textures/cabinets/italian-walnut.jpg"); }

.wilsonart-designer-white-cabinet {
  background-image: url("../img/textures/cabinets/wilsonart-designer-white.jpg"); }

.chocolate-pear-cabinet {
  background-image: url("../img/textures/cabinets/chocolate-pear.jpg"); }

.mahogany-cabinet {
  background-image: url("../img/textures/cabinets/mahogany.jpg"); }

.wilsonart-shaker-cherry-cabinet {
  background-image: url("../img/textures/cabinets/wilsonart-shaker-cherry.jpg"); }

.cinnamon-myrtle-cabinet {
  background-image: url("../img/textures/cabinets/cinnamon-myrtle.jpg"); }

.natural-maple-cabinet {
  background-image: url("../img/textures/cabinets/natural-maple.jpg"); }

.glacier-white-cabinet {
  background-image: url("../img/textures/cabinets/glacier-white.jpg"); }

.norwegian-maple-cabinet {
  background-image: url("../img/textures/cabinets/norwegian-maple.jpg"); }

.ranier-white-cabinet {
  background-image: url("../img/textures/cabinets/ranier-white.jpg"); }
