/* panels, cabinets, leather */
$panels: "ascott", "glacier", "ravenwood", "bankers-gray", "glass-drift", "raw-dusk", "black-hole", "glass-wenge", "sahara", "black-on-black", "gotham-gray", "serengeti", "black-tie", "graphite-reign", "shades-of-gray", "bronze-linen", "gray-flannel", "silky-putty", "brushed-steel", "gray-mist", "snow-crok", "carbon", "latte-trees", "snow-trees", "carbon-black", "linnen-sail", "stainless-twist", "carbon-new", "melted-chocolate", "stardust", "chantilly-gray", "midnight-crok", "stealth", "cottage", "parchment", "sunset-brown", "drift-cloth", "pearl-stardust", "twisted-steel", "dune", "pewter-rain", "urban-cowboy", "earth", "pure-snow", "white-prism", "french-roast";
$couches: "black", "charlott", "maxima-pewter", "bourbon", "chocolate", "off-the-grid", "brixk", "clowd", "optical-white", "bronx-moon-dust", "dante-spice", "pink-elmanordic", "brooklyn-creme-brulee", "deer-run", "rasberry-elmanordic-III", "brooklyn-fog", "elmanordic-III", "regent-modern-gray", "casablanca-smoke", "eugene-sabia", "regent-sand", "cetus-cielo", "eugene-slate", "saddle", "cetus-granite", "holiday-lace", "samca-ivory", "cetus-nuvolo", "holiday-mink", "slate", "cetus-pebble", "lipstick", "tumbleweed", "cetus-smoke", "maxima-coffee", "chalk", "maxima-onyx";
$cabinets: "alabama-cherry", "cognac", "rainier-white", "almond", "cordoba-pint", "silver-frost", "antique-white", "dove-gray", "slate", "black", "folkstone", "summit", "blond-echo", "hardrock-maple", "wild-apple", "charcoal", "italian-walnut", "wilsonart-designer-white", "chocolate-pear", "mahogany", "wilsonart-shaker-cherry", "cinnamon-myrtle", "natural-maple", "glacier-white", "norwegian";
$headboards: "aubergine", "citron", "gunmetal", "olive", "stone", "bittersweet", "cloud", "hunter", "orangeade", "sunshine", "black", "coffee", "indigo", "oyster", "tidepool", "brick", "copper", "khaki", "parchment", "toast", "buckskin", "cream", "kiwi", "peat", "tomato", "camel", "dandelion", "lichen", "platinum", "turquoise", "canary", "doeskin", "lilac", "pumpkin", "ultraviolet", "celery", "dove", "lipstick", "passion-purple", "white", "cement", "dustyrose", "mica", "rust", "wine", "charcoal", "earth", "midi", "sage", "chestnut", "espresso", "mustard", "sea", "chocolate", "faun", "navy", "seafoam", "cinnabar", "godiva", "newmocha", "sky";

.texture { 
    background-size: cover; 
    background-position: center;
}

/* panels */
@each $item in $panels {
    .#{$item}-panel {
        background-image: url("../img/textures/panels/#{$item}.jpg");
    }
}

/* headboards */
@each $item in $headboards {
    .#{$item}-headboard {
        background-image: url("../img/textures/headboards/#{$item}.jpg");
    }
}

/* couches */
@each $item in $couches {
    .#{$item}-couch {
        background-image: url("../img/textures/couches/#{$item}.jpg");
    }
}

/* cabinets */
@each $item in $cabinets {
    .#{$item}-cabinet {
        background-image: url("../img/textures/cabinets/#{$item}.jpg");
    }
}