/* panels, cabinets, leather */

$list:
"ascott", "glacier", "ravenwood", "bankers-gray", "glass-drift", "raw-dusk", "black-hole", "glass-wenge", "sahara", "black-on-black", "gotham-gray", "serengeti", "black-tie", "graphite-reign", "shades-of-gray", "bronze-linen", "gray-flannel", "silky-putty", "brushed-steel", "gray-mist", "snow-crok", "carbon", "latte-trees", "snow-trees", "carbon-black", "linnen-sail", "stainless-twist", "carbon-new", "melted-chocolate", "stardust", "chantilly-gray", "midnight-crok", "stealth", "cottage", "parchment", "sunset-brown", "drift-cloth", "pearl-stardust", "twisted-steel", "dune", "pewter-rain", "urban-cowboy", "earth", "pure-snow", "white-prism", "french-roast", "purple-reign",
"alabama-cherry", "cognac", "rainier-white", "almond", "cordoba-pint", "silver-frost", "antique-white", "dove-gray", "slate", "black", "folkstone", "summit", "blond-echo", "hardrock-maple", "wild-apple", "charcoal", "italien-walnut", "wilsonart-designer-white", "chocolate-pear", "mahogany", "wilsonart-shaker-cherry", "cinnamon-myrtle", "natural-maple", "clacier-white", "norwegian", 
"black", "charlott", "maxima-pewter", "bourbon", "chocolate", "off-the-grid", "brixk", "clowd", "optical-white", "bronx-moon-dust", "dante-spice", "pink-elmanordic", "brooklyn-creme-brulee", "deer-run", "rasberry-elmanordic-III", "brooklyn-fog", "elmanordic-III", "regent-modern-gray", "casablanca-smoke", "eugene-sabia", "regent-sand", "cetus-cielo", "eugene-slate", "saddle", "cetus-granite", "holiday-lace", "samca-ivory", "cetus-nuvolo", "holiday-mink", "slate", "cetus-pebble", "lipstick", "tumbleweed", "cetus-smoke", "maxima-coffee", "chalk", "maxima-onyx"; 


.texture { 
    background-size: cover; 
    background-position: center;
}
@each $item in $list {
    .#{$item} {
        background-image: url("../img/textures/#{$item}.jpg");
    }
}